body {
    background-color: #FFFFF9;
}

h1, h2, h3, h4, h5, p {
    margin: 0.5rem 0;
}

/* NAV BAR */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  justify-content: end;
  position: relative;
}

header {
    width: 100%;
}

/* FOOTER */
footer {
  color: #463F3A;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 8rem;
}

.footer-top {
  display: flex;
  gap: 30rem;
}

.address, .hours {
  max-width: 12rem;
  text-align: center;
}

.hours p {
  margin: 0;
}

/* CHECKOUT PAGE */
.checkout-overview {
    grid-column: 8/12;
    background: #F9F9F7;
    align-self: start;
    border-radius: 8px;
}

.checkout-item, .checkout-final {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 1rem;
}

.checkout-final {
    margin-top: 4rem;
}

.checkout-item-left {
    display: flex;
    gap: 0.5rem;
}

 .checkout-item p, .checkout-final p {
    justify-self: end;
 }

.checkout-final a {
    grid-column: 1/-1;
    justify-self: end;
}

/* HOME PAGE */
.centered-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem 0;
  text-align: center;
}

.brand-logo h1 {
  margin: 5rem 0 1rem 0;
}

.three-w {
    grid-column: 2 / 7;
    align-content: center;
    display: grid;
    row-gap: 1rem;
}

.home-carousel {
    grid-column: 8 / 12;
    justify-self: center;
    align-self: center;
}

/* HOME CAROUSEL */
.home-carousel {
    grid-column: 8 / 12;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 1.5rem; 
}
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
.carousel-container {
    position: relative;
    width: 24rem; 
    height: 30rem;
}

.carousel-slide {
    position: absolute; /* stacks images directly on top of each other */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1; /* Pushes inactive images to the back */
    transition: transform 0.4s ease, z-index 0s;
}

/* Give each image a tilt in the back */
.carousel-slide:nth-child(1) { transform: rotate(-4deg); }
.carousel-slide:nth-child(2) { transform: rotate(3deg); }
.carousel-slide:nth-child(3) { transform: rotate(-2deg); }
.carousel-slide:nth-child(4) { transform: rotate(2deg); }

/* https://www.youtube.com/watch?v=Fbc3lfe3T7s */
.carousel-slide.active {
    z-index: 10; 
    transform: rotate(0deg) scale(1.02); /* Makes the active image straight and slightly moves forward */
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.2);
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-prev, .carousel-next {
    background: transparent;
    color: #405C2A; 
    border: none;
    cursor: pointer;
    font-size: 3.5rem; 
    font-weight: 300;
    padding: 0;
    transition: color 0.3s ease, transform 0.2s ease;
}

.carousel-prev:hover, .carousel-next:hover {
    color: #A0B682; 
    transform: scale(1.1); /* becomes larger on hover */
}


/* HOME PAGE - COMPANY NEWS*/
.news-updates {
    margin-top: 8rem;
}

.news-title {
    grid-column: 2 / 12;
    margin-bottom: 2rem;
}

.news-box {
    grid-column: 4 / 10; /* Spans from grid 4 to 9 */
    display: flex;       /* Aligns image to text */
    align-items: center; 
    gap: 2rem;           /* Space between img and text */
    margin-top: 2rem; /* Space between each box */
    background-color: #F9F9F7;
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* https://www.w3schools.com/css/css3_2dtransforms.asp */
}

.news-box:hover {
    transform: translateY(-5px); /* lifts box */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    background-color: #fdfdfb; /* Slight brighten */
}

.buy-now {
    width: fit-content; /* so button only wraps the text */
    font-size: 0.85rem;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem; /* same as menu button */
    transition: opacity 0.2s ease;
}

.buy-now:hover {
    opacity: 0.9;
}

.news-box img {
    min-width: 250px;
    height: 200px;
    object-fit: cover;   /* Prevents image distortion */
    border-radius: 4px;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* MENU */
.bev-headers {
    /* make span form second to last column (headers container!!!) */
    grid-column: 2 / 12;
    display: grid;
    /* split container to two (for hot and cold halves) */
    grid-template-columns: 1fr 1fr;
}

.bev-header {
    grid-column: 1 / -1;
}

.hot-drinks {
    grid-column: 2 / 6;
}

.cold-drinks {
    /* make cold drink cards span from column 5 (mid) to last */
    grid-column: 7 / 12;
    display: flex;
    flex-direction: column;
    /* gap: 4rem; */
}

.menu-product-row {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.dessert-header {
    margin-top: 4rem;
    grid-column: 2 / 6;
}

.desserts {
    grid-column: 2 / 12;
    display: flex;
    gap: 4rem;
}

/* PRODUCT SPECIFIC PAGE */
.product-page {
    margin-top: 6rem;
}

.product-page-img {
    grid-column: 2/6;
    width: 70%;
    height: auto;
    justify-self: center;
}

.product-page-info {
    grid-column: 6/12;
    max-width: 80%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-page-info p, .product-page-info a, .product-heading {
    grid-column: 1/-1;
}

.product-page-info img {
    grid-column: 2;
    justify-self: end;
}

.product-page-info h4 {
    color: #403d40;
}

/* CONTACT PAGE */
.contact-header {
    grid-column: 1 / -1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-card {
    grid-column: 4 / 10; /* Centers the card */
    background-color: #FFFFFF;
    padding: 3.5rem 4rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-methods {
    grid-column: 4 / 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2rem;
}

.contact-methods p {
    margin-top: 0;
}

/* Form */
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-form input, 
.contact-form select, 
.contact-form textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid;
    font-family: 'Poppins-Light', sans-serif;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.contact-form select {
    appearance: none;
    cursor: pointer;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%24%2024%22%3E%3Cpath%20fill%3D%22%23463F3A%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 0.5rem top 50%;
    background-size: 1.5rem auto;
}

.contact-form textarea {
    resize: vertical;
    min-height: 180px;
}

.contact-form .button {
    border: none;
}

/* RESPONSIVENESS */
@media (width < 1300px) {
    /* checkout cart */
    .checkout-overview {
        grid-column: 2/12;
        margin-top: 4rem;
    }

    /* product page */
    .product-page-img {
        grid-column: 2/12;
    }
    .product-page-info {
        grid-column: 2/12;
        margin-top: 4rem;
    }
}

@media (width < 960px) {
    nav {
        gap: 1rem;
    }
    .footer-top {
        gap: 10rem;
    }

    /* home page */
    .three-w {
        grid-column: 2/12;
    }
    .home-carousel {
        grid-column: 1/-1;
        margin-top: 4rem;
    }

    /* menu */
    .hot-drinks {
        grid-column: 2/12;
    }
    .cold-drinks {
        grid-column: 2/12;
        margin-top: 4rem;
    }
}

@media (width < 640px) {
    .footer-top {
        flex-direction: column;
        gap: 4rem;
    }
}

