body{
  padding: 0;
  margin: 0;
  margin-bottom: 6rem;
}

.title {
  margin-left: 6rem;
  margin-right: 6rem;
}

.checkout {
  display: grid;
  grid-template-columns: 1fr 650px;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: start;
}

form {
  margin: 0; 
  max-width: 100%; 
}

.checkout-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
}

.checkout-item {
  border-top: none;
}

.checkout-summary {
  min-width: 100%;
}

@media (max-width: 1100px) {
  .title {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .checkout {
    grid-template-columns: 1fr 550px;
    gap: 20px;
    margin: 2rem;
  }
  
  .checkout-page {
    order: -1;
  }
}

@media (max-width: 800px) {
  .title {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .checkout {
    grid-template-columns: 1fr;
    margin: 2rem;
  }
}